#formularioSubir:hover {
    background-color: #445361;
}

.uploadbtn:hover {
    transition: all 100ms ease-out;
    transform: scale3d(1.05, 1.05, 1.05);
    box-shadow: 0 15px 25px 0 #0000003d, 0 10px 15px 0 #00000067;
    background-color: black;
    border-color: black;
    /*transition: all 500ms ease-out;*/
}

.alert {
    width: 75%;
}

.files input {
    outline: 2px dashed #688f92;
    outline-offset: -15px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
    height: 212px;
    padding-top: 100px;
    padding-left: 5%;
}

.files input:focus {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    border: 1px solid #92b0b3;
}

.files {
    position: relative;
}

.files:after {
    pointer-events: none;
    position: absolute;
    top: 30px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}

.card-body {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.color input {
    background-color: #f1f1f1;
}

.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;
    pointer-events: none;
    width: 100%;
    right: 0;
    height: 50px;
    content: " o arratre aqui. ";
    display: block;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}


/*===============  upload   =================*/

.upload {
    padding: 4% 12% 5% 12%;
    border-radius: 10px;
}

#btnSubir:hover {
    background-color: #002c23;
}

#formularioSubir {
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: ridge;
    border-left: ridge;
    border-right: ridge;
    background-color: #708090e1;
    width: 75%;
    box-shadow: 0 15px 30px 0 #00000021, 0 5px 15px 0 #0000001c;
    position: relative;
}

.TituloSubir {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 8px;
    margin-bottom: 0%;
}

.btnupload {
    /*style="justify-content: space-evenly;margin: 1% 0% 5% 0%;"*/
    justify-content: space-evenly;
    margin-bottom: 5%;
    margin-top: 2%;
}

.infoupload,
.fileupload {
    padding-left: 5px;
    padding-right: 5px;
}

#cajadesubida {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.card-header {
    padding-top: 2%;
    padding-bottom: 2%;
}

@media (min-width: 600px) and (max-width: 750px) {
    .card-header {
        padding-top: 0%;
        padding-bottom: 0%;
    }
    #cajadesubida {
        height: 185px;
        padding-top: 83px;
    }
    .inputdate {
        font-size: 15px;
        height: 25px;
        padding: 0px 0px 0px 10px;
    }
    .files input {
        padding-left: 13px;
    }
    .upload {
        padding: 4% 4% 4% 4%;
    }
    #enviar,
    #cancel {
        width: 50px;
    }
    .files,
    .fileupload {
        width: 270px;
    }
    .datfile {
        width: 320px;
    }
    #formularioSubir {
        width: 100%
    }
    .alert {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    #cajadesubida {
        height: 185px;
        padding-top: 83px;
    }
    .inputdate {
        font-size: 15px;
        height: 25px;
        padding: 0px 0px 0px 10px;
    }
    .upload {
        padding: 4% 4% 5% 4%;
    }
    .files input {
        padding-left: 13px;
    }
    .btnupload {
        margin-top: 5%;
    }
    .progress {
        margin-top: 10px;
    }
    #formularioSubir {
        width: 100%;
    }
    .alert {
        width: 100%;
    }
}