<div class="container submain py-3">
    <div class="row rowsignin px-3">
        <div class="col-sm leftcard text-white ">
            <div class="ml-4 mr-4">
                <div>
                    <div style="text-align: center;">
                        <img @logo class="PhotoPerfil" width="200" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgID
                        xwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8
                        cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsb
                        D0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNG
                        wxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
                    </div>
                    <br>
                    <p>
                        To have better experiences and have more personalized processes such as managing your own files, you need a personal account and login. <br> <br> remember that this is free, and enjoy all the services that
                        gives you this web application.
                    </p>
                </div>
            </div>

        </div>
        <div class="card login" @signin>
            <div class="card-header bg-dark text-white">
                <h2><i class="fas fa-user mr-1"></i> log in session</h2>
            </div>
            <div *ngIf="message" class="alert alert-danger alert-dismissible fade show mt-2" role="alert">{{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeMessage()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <img src="assets/image/signin.gif" class="rounded-circle" height="130" width="150" alt="" srcset="">
                </div>
                <hr>
                <form [formGroup]='signinForm' (ngSubmit)='signin()'>
                    <div class="form-group">
                        <h5>E-mail</h5>
                        <input type="email" formControlName='email' class="form-control" autofocus #email>
                    </div>
                    <div class="form-group">
                        <h5>Password</h5>
                        <input type="password" formControlName='password' class="form-control" #password>
                    </div>
                    <button type="submit" class="btn btn-dark btn-block">Sign In</button>
                </form>
            </div>
        </div>
    </div>
</div>