<div class="container conten" #menu>
    <h1 class="welcome" @welcome>welcome!</h1>
    <div class="row">
        <img @logo class="logo" width="250" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgID
            xwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8
            cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsb
            D0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNG
            wxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
        <div class="col-md-8 mt-5" style="font-size: 28px;" @welcome>
            <p>
                Hello, we present this web application for personal use to manage your different multimedia files.
            </p>
            <button class="btn btn-outline-light" style="font-size: 22px;width: 150px;">more</button>
        </div>
    </div>
    <div class="container py-4 mt-3 px-5 concep" @definition>
        <p> 
            This is a web application that is developed using angular, a more popular javaSrcript frontend framework, since it uses a SPA web application development approach of the acronym 'single page application', applications of a single
            page. Which gives users a better experience in terms of access to different views and more.
        </p>
        <a href="http://www.facebook.com" target="blank" class="btn btn-primary"><i class="fas fa-share" ></i> Share App!</a>
    </div>
</div>